@using DataAccess.ACTION
@model ACTIONModel

@{
    ViewBag.Title = "Home Page";
}

<br>
<div class="container-fluid">
    <a type="button" class="btn btn-success" href="@Url.Action("Insert")">
        <span class="glyphicon glyphicon-book"></span> Insert
    </a>
    <a type="button" class="btn btn-danger" href="@Url.Action("Delete")">
        <span class="glyphicon glyphicon-tree-deciduous"></span> Delete
    </a>
</div>
<br>
<div class="container-fluid">
    <div class="table-responsive table-hover" id="datagrid">
        <table class="table scrollbar" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DATA</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<input type="hidden" name="TEXT_ID" id="TEXT_ID" />
<input type="hidden" name="TEXT_DATA" id="TEXT_DATA" />
    @section scripts {
        <script>
            $(document).ready(function () {
                dataTable = $("div#datagrid table").DataTable({
                    "ajax": {
                        "url": " @Url.Action("Search", "Action")",
                        "type": "post",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "ID" },
                        { "data": "DATA" }
                    ],
                   
                    "dom": 'Bfrtip',
                    "select": true,
                    "buttons": [{
                        text: 'Update',
                        action: function (e, dt, node, config) {
                            var id = dt.row({ selected: true }).data().ID;

                            if (id != 0) {
                                var data = dt.row({ selected: true }).data().DATA;
                                var tag = '';
                                tag = '@Url.Action("Update", "Action")' + '?ID=' + $.toUrlString(id) + '&DATA=' + $.toUrlString(data);
                                window.location.href = tag;
                            } else {
                                window.location.reload(true);
                            }
                        },
                    }],
                })
                //$(".dt-buttons").hide();
                $.toUrlString = function (data) {
                    var nData = "";
                    if (data != undefined && data != null && data != "") {
                        nData = encodeURIComponent(data.toString());
                    }
                    return nData;
                };
            })

            $("#Delete").on('click', function () {
                $.ajax({
                    type: "post",
                    url: '@Url.Action("DeleteStd", "Student")',
                    data: JSON.stringify({
                        id: $('#id').val(),
                        idStd: $('#idStd').val(),
                        nameStd: $('#nameStd').val()
                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    processData: false,
                    success: function (response) {
                        if (response == true) {
                            swal("บันทึกสำเร็จ", {
                                icon: "success",
                            }).then((value) => {
                                window.location.reload(true);
                            });
                        }
                    }
                })
            })

            function alertSucs(data) {
                $("#notification").hide()
                var content = '<div class="alert alert-' + 'success' + ' alert-dismissable alert-' + 'success' + 'new"><button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button><h2>';
                content += '<i class="ace-icon fa fa-exclamation-triangle bigger-130"></i> ';
                content += data + '</h2>';
                content += '</div>';

                $("#notification").html(content).fadeTo(2000, 500);
            }
            function alertErr(data) {
                $("#notification").hide()
                var content = '<div class="alert alert-' + 'danger' + ' alert-dismissable alert-' + 'danger' + 'new"><button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button><h2>';
                content += '<i class="ace-icon fa fa-exclamation-triangle bigger-130"></i> ';
                content += data + '</h2>';
                content += '</div>';

                $("#notification").html(content).fadeTo(2000, 500);
            }
        </script>

    }
